html { background-color: #FFFFFF;
  color: black;
  font-family: Arial, sans-serif;
  width:600px;
  line-height: 20px
}


header {
  background-color: #FFFF9E;
  padding: 3em 3em 3em 3em;
  margin: 0;
}

a {color: black;}

a:hover {color: pink;}

ul {list-style-type: none
  }

h1 { font-family:'Lobster', cursive;
font-style: bold;
color: pink;
font-size: 3em;}

h2 {font-family: 'Lobster', cursive;
font-style:bold;
color: pink;
font-size: 1.5em}
