html { background-color: #FFFFFF;
  color: black;
  font-family: Arial, sans-serif;
  width: 620px;
  line-height: 20px;
}


header {
  background-color: #FFFF9E;
  padding: 3em 3em 3em 3em;}

a {color: black;}

nav a {
  color: white;
  background-color: pink;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  padding: 1em;
  margin: 0.2em;
  font-size: 1.3em;
}

nav a:hover {
  background-color: black;
  }

nav li {
  display:inline;
}

nav ul {list-style-type: none}

h1 { font-family:'Lobster', cursive;
font-style: bold;
color: pink;
font-size: 3em;
text-align: center;}


h2 {font-family: 'Lobster', cursive;
font-style:bold;
color: pink;
font-size: 1.5em}

.quote {color: #brown;
  font-style: italic;
  font-size: 0.8em;}

img {width:100%; }

figure: {
  border: 3px solid black;
  border-radius: 1px;
  background-color: gray;
  padding: 2em;
}
