html { background-color: #dbd6cf;
  color: black;
  font-family: Arial, sans-serif;
  width:600px;
  line-height: 20px}

}

header {
  font-family: 'Lobster', cursive;
  font-style: bold;
  color: #79756f;
  font-size: 3rem;}

]

h1 {

}
